name: (fast) CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
    - uses: cachix/cachix-action@v10
      with:
        name: guibou
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    # Builds
    - name: Build current GHC
      run: nix build .#pyf
