name: Complete CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  nix_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
    - uses: cachix/cachix-action@v10
      with:
        name: guibou
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    # Builds cabal (nix)
    - name: Build with all supported GHC
      run: nix build .#pyf_all

  stack_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Stack
      run: sudo apt-get install haskell-stack

    # Build stack
    - name: Stack 9.2
      run: stack --resolver nightly-2022-03-28 test
    - name: Stack 9.0
      run: stack --resolver lts-19.1 test
    - name: Stack 8.10
      run: stack --resolver lts-17.1 test
    - name: Stack 8.8
      run: stack --resolver lts-16.31 test
