name: Complete CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  nix_matrix:
    strategy:
      matrix:
        ghc: [94, 96, 98, 910, 912, 914]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v15
        with:
          name: guibou
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      # Builds cabal (nix)
      - name: Build with GHC ${{ matrix.ghc }}
        run: nix build .#pyf_${{ matrix.ghc }}
  stack_build:
    strategy:
      matrix:
        resolver: [
          lts-14.27, # 8.6
          lts-16.31, # 8.8
          lts-17.1, # 8.10
          lts-19.1, # 9.0
          lts-20.26, # 9.2
          lts-21.17, # 9.4
          lts-22.22, # 9.6
          lts-23.2, # 9.8
          nightly-2025-01-03, # 9.10 nightly
        ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Stack
        run: sudo apt-get install haskell-stack
      - name: Stack resolver ${{ matrix.resolver }}
        run: stack --resolver ${{ matrix.resolver }} test
